extends ../layout/main.pug
block content
  div.message
    div.message__text
      p На сайте еще не опубликовано ни&nbsp;одного объявления.
    a.message__link.btn.btn--big(href="#") Вход и регистрация
