extends ../layout/main.pug
block content
  section.ticket-form
    div.ticket-form__wrapper
      h1.ticket-form__title Новая публикация
      div.ticket-form__tile
        form.ticket-form__form.form(action="#",method="post",enctype="multipart/form-data",autocomplete="off")
          div.ticket-form__avatar-container.js-preview-container
            div.ticket-form__avatar.js-preview
            div.ticket-form__field-avatar
              input#avatar.visually-hidden.js-file-field(type="file",name="avatar")
              label(for="avatar")
                span.ticket-form__text-upload Загрузить фото…
                span.ticket-form__text-another Загрузить другое фото…
